.linkList {
    margin: 0;
    padding: 0;    
}

.linkLink {
    font-size: 36px;
}

.linkLink:hover {
    color:rgb(80, 196, 142)
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
